nav{
    display: flex;
    justify-content: space-around;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
nav h2{
    color: coral;
}
ul{
    display: flex;
    gap: 25px;

}
li{
    list-style: none;
    background-color: rgb(193, 115, 231);
    border-radius: 5px;
    padding: 5px 15px;
}
li a{
    text-decoration: none;
    color: black;
}
li a:hover{
   background-color: rgba(63, 70, 92, 0.534);
}






footer{
    background-color: black;
    text-align: center;
}
footer h4{
    color: white;
}